<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('订单列表')" />
</head>
<body class="gray-bg">
     <div class="container-div">
        <div class="row">
            <div class="col-sm-12 search-collapse">
                <form id="formId">
                    <div class="select-list">
                        <ul>
                            <li>
                                <p>订单编号：</p>
                                <input type="text" name="orderSn"/>
                            </li>
                            <li>
                                <p>用户ID：</p>
                                <input type="text" name="userId"/>
                            </li>
                            <li>
                                <p>订单状态：</p>
                                <select name="orderStatus">
                                    <option value="">0</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </li>
                            <li>
                                <p>支付状态：</p>
                                <select name="payStatus">
                                    <option value="">0</option>
                                    <option value="">1</option>
                                    <option value="">2</option>
                                </select>
                            </li>
                            <li>
                                <p>收件人：</p>
                                <input type="text" name="consignee"/>
                            </li>
                            <li>
                                <p>手机号：</p>
                                <input type="text" name="mobile"/>
                            </li>
                            <li>
                                <p>支付人：</p>
                                <input type="text" name="payName"/>
                            </li>
                            <li>
                                <p>支付id：</p>
                                <input type="text" name="payId"/>
                            </li>
                            <li>
                                <a class="btn btn-primary btn-rounded btn-sm" onclick="$.table.search()"><i class="fa fa-search"></i>&nbsp;搜索</a>
                                <a class="btn btn-warning btn-rounded btn-sm" onclick="$.form.reset()"><i class="fa fa-refresh"></i>&nbsp;重置</a>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>

            <div class="btn-group-sm" id="toolbar" role="group">
                <a class="btn btn-success" onclick="$.operate.add()" shiro:hasPermission="system:order:add">
                    <i class="fa fa-plus"></i> 添加
                </a>
                <a class="btn btn-primary single disabled" onclick="$.operate.edit()" shiro:hasPermission="system:order:edit">
                    <i class="fa fa-edit"></i> 修改
                </a>
                <a class="btn btn-danger multiple disabled" onclick="$.operate.removeAll()" shiro:hasPermission="system:order:remove">
                    <i class="fa fa-remove"></i> 删除
                </a>
                <a class="btn btn-warning" onclick="$.table.exportExcel()" shiro:hasPermission="system:order:export">
                    <i class="fa fa-download"></i> 导出
                 </a>
            </div>
            <div class="col-sm-12 select-table table-striped">
                <table id="bootstrap-table"></table>
            </div>
        </div>
    </div>
    <th:block th:include="include :: footer" />
    <script th:inline="javascript">
        var editFlag = [[${@permission.hasPermi('system:order:edit')}]];
        var removeFlag = [[${@permission.hasPermi('system:order:remove')}]];
        var prefix = ctx + "system/order";

        $(function() {
            var options = {
                url: prefix + "/list",
                createUrl: prefix + "/add",
                updateUrl: prefix + "/edit/{id}",
                removeUrl: prefix + "/remove",
                exportUrl: prefix + "/export",
                modalName: "订单",
                columns: [{
                    checkbox: true
                },
                {
                    field : 'id',
                    title : 'null',
                    visible: false
                },
                {
                    field : 'orderSn',
                    title : '订单id'
                },
                {
                    field : 'userId',
                    title : '用户id'
                },
                {
                    field : 'orderStatus',
                    title : '订单状态'
                },
                {
                    field : 'shippingStatus',
                    title : '发货状态'
                },
                {
                    field : 'payStatus',
                    title : '支付状态'
                },
                {
                    field : 'consignee',
                    title : '收件人'
                },
                {
                    field : 'address',
                    title : '地址'
                },
                {
                    field : 'mobile',
                    title : '手机号'
                },
                {
                    field : 'shippingFee',
                    title : '运输费用'
                },
                {
                    field : 'payName',
                    title : '支付人'
                },
                {
                    field : 'payId',
                    title : '支付ID'
                },
                {
                    field : 'actualPrice',
                    title : '实际金额'
                },
                {
                    field : 'orderPrice',
                    title : '订单总价'
                },
                {
                    field : 'goodsPrice',
                    title : '商品总价'
                },
                {
                    field : 'addTime',
                    title : '订单生成时间'
                },
                {
                    field : 'payTime',
                    title : '支付时间'
                },
                {
                    field : 'freightPrice',
                    title : '运费价格'
                },
                {
                    title: '操作',
                    align: 'center',
                    formatter: function(value, row, index) {
                        var actions = [];
                        actions.push('<a class="btn btn-success btn-xs ' + editFlag + '" href="javascript:void(0)" onclick="$.operate.edit(\'' + row.id + '\')"><i class="fa fa-edit"></i>编辑</a> ');
                        actions.push('<a class="btn btn-danger btn-xs ' + removeFlag + '" href="javascript:void(0)" onclick="$.operate.remove(\'' + row.id + '\')"><i class="fa fa-remove"></i>删除</a>');
                        return actions.join('');
                    }
                }]
            };
            $.table.init(options);
        });
    </script>
</body>
</html>
